aiocron==1.8
annotated-types==0.6.0
anyio==3.7.1
backports.zoneinfo==0.2.1
beanie==1.23.6
beautifulsoup4==4.12.2
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
croniter==2.0.1
crontab==1.0.1
dnspython==2.4.2
exceptiongroup==1.1.3
fastapi==0.104.1
h11==0.14.0
idna==3.4
lazy-model==0.2.0
motor==3.3.2
pydantic==2.5.1
pydantic-core==2.14.3
pymongo==4.6.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
redbird==0.7.1
requests==2.31.0
schedule==1.2.1
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
starlette==0.27.0
toml==0.10.2
typing-extensions==4.8.0
tzlocal==5.2
urllib3==2.1.0
uvicorn==0.24.0.post1
